.TopList__buttons--button {
  display: flex;
  font-size: 1.1rem;
  font-weight: 600;
  width: 15rem;
  margin: 0.5rem 0.5rem 1.5rem 0.5rem;
  min-width: 9.5rem;
  align-items: center;
  justify-content: center;
}

.TopList {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.TopList__title {
  font-size: $l-size;
	justify-content: center;
  display: flex;
  color: $text-blue;
  min-width: 150px;
	width: 100%;
	font-family: Roboto;
	font-weight: 700;
}

.TopList__buttons {
  display: flex;
  margin: 0;
  justify-content: center;
}

.TopList__buttons--button:disabled {
  background-color: darken($spotify-green, 10%);
  border-bottom: 0.4rem solid darken($spotify-green, 20%);
  color: rgb(189, 189, 189)
}

.TopList__createButton:disabled {
  background-color: darken($spotify-green, 10%);
  border-bottom: 0.4rem solid darken($spotify-green, 20%);
  color: rgb(189, 189, 189)
}

.TopList__song {
  font-size: $m-size;
	padding: $m-size;
	text-align: left;
	color: white;
	width: 100%;
  flex-grow: 1;
  text-align: center;
  word-break: break-word;
  line-height: 2rem;
  margin-right: 0rem;
}

.TopList__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
	margin-left: 0;
	background-color: $dark-blue;
	font-weight: bold;
  font-size: 1.8rem;
  margin-top: 3rem;
}

@media (min-width: 450px) {

  .TopList__song {
    text-align: left;
    margin-right: 5rem;
  }

  .TopList__buttons {
    display: flex;
    justify-content: center;
    margin: 2rem;
  }
  .TopList__buttons--button {
    font-size: 1.4rem;
    font-weight: 800;
    min-width: 12rem;
    margin: 0 1rem 1rem 1rem;
  }
}

@media (min-width: 575px) {
  .TopList__buttons--button {
    font-size: 1.6rem;
    width: 15rem;
    margin: 0 1.5rem 1.5 1.5rem;
  }
}
